body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
.cards {
  border-collapse: collapse;
  margin: 3rem 0 4rem;
}
.card {
  padding: 0.5rem 1rem 1.5rem;
}
.card__header {
  font-size: 1.5rem;
  margin-top: 0;
}

/* table on div */
.d-table {
  display: table;
}
.d-table-row {
  display: table-row;
}
.d-table-cell {
  display: table-cell;
}

/* helpers */
.w-33 {
  width: 33.33%;
}
.w-100 {
  width: 100%;
}
.border {
  border: 1px solid;
}
.border-top-0 {
  border-top: 0;
}
.border-bottom-0 {
  border-bottom: 0;
}

/*container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
  .cards {
    border-collapse: collapse;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .cards {
    border-collapse: separate;
    border-spacing: 1rem 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .cards {
    border-spacing: 3rem 0;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .cards {
    border-spacing: 4rem 0;
  }
}
